<ion-header>
  <ion-toolbar>
    <ion-title>editar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input [(ngModel)]="mascota.Nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Raza</ion-label>
    <ion-input [(ngModel)]="mascota.Raza"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Edad</ion-label>
    <ion-input [(ngModel)]="mascota.Edad"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Color</ion-label>
    <ion-input [(ngModel)]="mascota.Color"></ion-input>
  </ion-item>

  <ion-button (click)="guardar()">Guardar</ion-button>


</ion-content>
